<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.steven.maven.archetype.domain.mapper.app.AppMapper">
    <resultMap id="BaseResultMap" type="com.steven.maven.archetype.domain.entity.app.AppEntity">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="appId" column="app_id" jdbcType="VARCHAR"/>
        <result property="appName" column="app_name" jdbcType="VARCHAR"/>
        <result property="appSecret" column="app_secret" jdbcType="VARCHAR"/>
        <result property="crtTime" column="crt_time" jdbcType="TIMESTAMP"/>
        <result property="uptTime" column="upt_time" jdbcType="TIMESTAMP"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="updater" column="updater" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        app_id,
        app_name,
        app_secret,
        crt_time,
        upt_time,
        creator,
        updater,
        del_flag
    </sql>
</mapper>
